body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    max-width: 375px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
}

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #f8f8f8;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    border-radius: 10px;
    margin: 15px;
}


main {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}