---
import Layout from '../layouts/Layout.astro';
import HeroKeyLogo from '@/assets/hero-key-logo.webp';
import HeroKeyBackground from '@/assets/hero-key-background.webp';
import LogoVI from '@/assets/logo-vi.svg';
import PlayButtonIcon from '@/assets/play-button.svg';
import LogoCutted from '@/assets/logo-cutted.svg';
---

<Layout>
	<div id="logo-mask" class="fixed top-0 w-full h-screen">
		<section>
			<picture
				id="hero-key"
				class="h-screen scale-125 block overflow-hidden fixed"
			>
				<img
					id="hero-key-logo"
					src={HeroKeyLogo.src}
					class="absolute w-full h-full object-cover"
					alt=""
				/>
				<img
					id="hero-key-background"
					src={HeroKeyBackground.src}
					class="w-full h-full object-cover"
					alt=""
				/>
			</picture>
		</section>
	</div>

	<div
		id=""
		class="fixed flex flex-col items-center justify-between h-screen w-full px-20 py-16 z-10"
	>
		<header class="flex justify-between w-full z-10">
			<LogoVI
				class="size-10 hover:text-yellow-200 transition-colors duration-500 cursor-pointer"
			/>
			<p
				class="text-3xl uppercase hover:text-yellow-200 transition-colors duration-500 cursor-pointer"
			>
				menu
			</p>
		</header>

		<button class="absolute inset-0 w-auto cursor-pointer inline-block">
			<PlayButtonIcon
				id="hero-play-button"
				class="m-auto size-32 mt-10 backdrop-blur-3xl rounded-full hover:scale-110 transition-transform duration-500"
			/>
		</button>

		<footer
			id="hero-footer"
			class="absolute bottom-8 w-auto"
		>
			<LogoCutted
				class="w-38 drop-shadow-[0_0_2px_rgba(255,255,255,.5),0_0_8px_#000]"
			/>
			<p
				class="absolute top-[48px] left-1/2 -translate-x-1/2 uppercase tracking-[6px] whitespace-nowrap text-center font-medium text-shadow-[0_0_2px_rgba(255,255,255,.5),0_0_8px_#000] text-lg"
			>
				Ver el Trailer 2
			</p>
		</footer>
	</div>
</Layout>

<style>
	#logo-mask {
		background: white;
		mask-image: url('/logo-stack.svg');
		mask-position: center 25%;
		mask-repeat: no-repeat;
		mask-size: clamp(5000vh, 3500%, 0vh);
	}
</style>

<script>
	import {gsap} from 'gsap';
	import {ScrollTrigger} from 'gsap/ScrollTrigger';

	gsap.registerPlugin(ScrollTrigger);

	const tl = gsap.timeline({
		ease: 'power2.Out',
		scrollTrigger: {
			scrub: 1,
		},
	});

	tl.to('#hero-key', {scale: 1, duration: 1})
		.to('#hero-key-logo', {opacity: 0}, '<')
		.to('#hero-footer', {opacity: 0}, '<')
		.to('#play-button', {opacity: 0}, '<')
		.to('#logo-mask', {
			maskSize: "clamp(20vh, 25%, 30vh)"}, 0.15)
		.to('#hero-key', {
			opacity: 0, duration: 0.2}, 0.4)
</script>
	