* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 1rem;
    text-align: center;
}

ul.student-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    margin-top: 1rem;
}

ul.student-list > li {
    max-width: 100px;
}

ul.student-list img {
    width: 100%;
}
