* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Cambiado a border-box para un mejor manejo del padding y border */
}
@font-face { /*añadmos una fuente de letra especifico*/

    font-family:'zelda';
    src: url('Font/Triforce-y07d.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {

    font-family: 'zelda',Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    background-image: url('img/fondo.jpg'); /* Ruta relativa a la imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {

    color: rgb(146, 18, 18);
    text-align: center;
    font-weight: bolder;
    font-size: 5rem;
    text-shadow: 5px 3px rgba(58, 58, 56, 0.5);
    font-style: oblique;
    font-family:'zelda', Arial, sans-serif;
}

.container {

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.timeline-container {

    position: relative;
    width: 60%;
    margin: 20px 0;
    padding: 10px 0;
    left: 10%;
}

.timeline {

    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    border-left: 4px solid rgb(146, 18, 18);
    border-top-left-radius: 25px ;
    border-bottom-left-radius: 25px;
}

.event {

    position: relative;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(146, 18, 18);
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px 10px  rgba(0, 0, 0, 0.3);
    text-align: left;
    left: 5rem;
}

.event::before {

    content: '';
    position: absolute;
    top: 20px;
    left: -4.5rem;
    width: 60px;
    height: 15px;
    background-color: rgb(146, 18, 18);
    border-radius: 25%;
    border: 2px solid #fff;
}

.event img {

    width: 100%;
    border-radius: 10px;
}

.event h2 {

    margin: 10px 0 0;
    color: #333;
}

.event p {

    margin: 5px 0;
    padding-top: 5px;
    color: #666;
}

form {

    position: sticky;
    top: 10rem; /* Ajusta la posición superior para anclar el formulario */
    width: 35%;
    margin-left: 20px;
    padding: 20px;
    background-color: #d4b710;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'zelda',Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 1.5px;
}

form label {

    font-weight: bold;
}

form input, form textarea, form button {

    padding: 10px;
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    margin: 5px 0;
}
form button{

    background-color: rgb(167, 144, 17);
    font-weight: bold;
    font-family: 'zelda',Arial, Helvetica, sans-serif;
    font-size: 30px;
    letter-spacing: 1.5px;
    color: rgb(250, 235, 215);
}

/*falta hacer el responsive*/